h1, h2, h3, body, p, ul, article {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

header {
    color: #fff;
    position: relative;
}

header article {
    padding: 100px 260px 139px;
}

header article h1 {
    font-size: 2em;
}

header article p {
    padding: 18px 0 26px;
}

.bg-image {
    position: absolute;
    background: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png) center;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.4;
}

.btn {
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;
    color: inherit;
    background-color: #333; /*<background-color: initial не работает*/
    border: 1px solid #666;
    cursor: pointer;
}


a:hover {
    color: #333;
    background-color: #fff;
}

.section-a {
    background-color: #eaeaea;
    padding: 0 254px 53px 254px;
    color: #333;
}

.section-a p {
    column-count: 2;
}

.section-a h2 {
    padding: 26px 0 27px;
}

.section-b {
    padding: 35px 17px 35px;
    color: #333;
}

.card {
    width: 273px;
    background-color: white;
}

.section-b img {
    height: 180px;
    width: inherit;
    object-fit: cover;
    object-position: center;
}


.card-content {
    padding: 26px;
}

.section-b li {
    padding: 0 8px;
    display: inline-block;
    vertical-align: top;
}

.card h3 {
    white-space: nowrap;
    padding: 20px 0 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*.card p {*/
/*    line-height: 1.5rem;*/
/*    max-height: 9rem;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

.card p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    margin: 17px 0 17px;
}

.section-c {
    background-color: #fff;
    color: #333333;
    padding: 61px 250px 52px;
}

.section-c h2 {
    padding-bottom: 43px;
}

.section-d {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
}

.boxContact {
    background: #2690d4;
    width: 50%;
    height: 150%;
}

.boxAbout {
    width: 50%;
}

.boxAbout, .boxContact {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 36px 35px;
}

.section-d h2 {
    padding: 26px 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
}

footer {
    padding: 35px;
    background: black;
    color: white;
}

footer > div {
    margin: auto;
    display: inline-block;
    width: 49.5%;
}

footer div a {
    text-decoration: none;
    color: #2690d4;
}

.section-d p {
    padding: 18px 0;
}